*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
/*-------------Header Css-----------------*/
body{
	overflow-x: hidden;
}
.header .content-box{

	background-image: /*linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),*/url(img/4.png);
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
.menu{
	display: inline-flex;
}
.menu{
	height: 35px;
	margin: 20px 0 0 110px;
	cursor: pointer;

}
.menu button{
	padding: 5px 20px;
	background: #ff4d73;
	color: #fff;
	font-size: 16px;
	border: 0;
	position: absolute;
	right: 10%;
	top: 5%;
}
.menu button .fa{
	margin-right: 10px;
}
.banner-text{
	width: 80%;
	color: rgb(255, 255, 255);
	margin: 10% auto 0;
	text-align: center;
	font-weight: bolder;
	font-family: Verdana;
	font-size: 100px;
}
.banner-text h2{
	margin-top: 70px;
	font-size: 30px;
}
.banner-text p{
	font-size: 14px;
	margin: 20px 0 50px;
}
/*.banner-text a{
	text-decoration: none;
	color: black;
	border: 1px solid #ff4d73;
	display: block;
	padding: 10px;
	width: 180px;
	margin: auto;
	/*background:  #ff4d73;*/
	transition: 3s;

}
.banner-text a:hover{
	background: transparent;

}*/

	/*-----------------Service----------------*/

.content-box{
	background: #f4f3ff;
	height: 100vh;
	width: 100%;

}
h1{
	text-align: center;
	padding-top: 100px;
}
h1::after{
	content: '';
	background: #ff4d73;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 50px;
}
.services .icon{
	font-size: 30px;
	margin: 20px auto;
	padding: 14px;
	height: 70px;
	width: 70px;
	border: 1px solid #ff4d73;
	border-radius: 50%;
	color: #ff4d73;

}
.services p{
	font-size: 14px;
	margin-top: 10px;
	color: #777;
	padding: 20px;
}
.services span{
	color: #ff4d73;
	transition: .5s;
}
.services .col-md-3:hover{
	background: #ff4d73;
	cursor: pointer;
	color: #fff;
	box-shadow: -5px 5px 10px 0 rgba(0,0,0,0.4);
	transition: .5s;
}
.services .col-md-3:hover .icon{
	border: 1px solid #fff;
	color: #fff;
}
.services .col-md-3:hover p{
	color: #fff;
}
.services .col-md-3:hover span{
	color: #fff;
}
	/*-----------------Features Are----------------------*/
.feature h2{
	margin-top: 130px;
}
.feature h2::after{
	content: '';
	background: #ff4d73;
	display: block;
	height: 3px;
	width: 110px;
	margin: 10px auto 50px;
	position: absolute;
	left: 17px;
}
.feature ul{
	margin-top: 30px;
	margin-left: 50px;
	list-style-type: none;
}
.feature ul li{
	line-height: 40px;
	font-size: 14px;
	position: relative;
}
.feature ul li::after{
	content: '';
	height: 7px;
	width: 7px;
	background: #ff4d73;
	transform: rotate(45deg);
	position: absolute;
	top: 17px;
	left: -25px;
}
.feature img{
	margin-top: 190px;
}
	/*------------------------Footer--------------------*/
.footer h1{
	padding-top: 50px;
}
.contact-form{
	padding: 15px;
}
.form-control{
	border-radius: 0 !important;
	border: none !important;
	box-shadow: none !important;
}
::placeholder{
	font-size: 12px;
}
.contact-form button{
	border: none !important;
	background: #ff4d73 !important;
	box-shadow: none !important;
	border-radius: 0;
}
.contact-info .follow{
	background-color: #fff;
	padding: 8px;
	margin: 15px;
}
.contact-info .fa{
	margin: 10px;
	font-size: 20px !important;
	color: #ff4d73 !important;
	font-weight: bold;
	padding-right: 20px;
}
.copyright{
	text-align: center;
	font-size: 14px;
}
.fa-heart-o{
	color: red;
	font-size: 17px;
}
.footer hr{
	margin-top: 50px;
	background: #ff4d7;
}

.service,.feature,.footer{
	margin-top: 10%;
}

/*----------------------------Add-----------------------------*/

#logo{
	right: 10%;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 5%;
}

.name{
	position: absolute;
	right: 0;
	bottom: -70px;
	color: rgb(255, 253, 255);
	font-family: verdana;
}

.aaa{
	color: rgb(39, 158, 238);
}

.contact{
	padding-top: 50px;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/2.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}
.contact .row{
	padding: 30px 0;
	font-size: 22px;
}
.contact .col-md-4 .fa{
	padding: 10px;
	font-size: 40px;
}
.contact .btn{
	padding: 10px 25px 10px 25px;
	margin: 5px;
	border-radius: 30px;
	border: 2px solid #fff;
	background: transparent;
}
.contact .btn:focus{
	box-shadow: none !important;
}
.contact .btn:hover{
	border: 2px solid #000 !important;
	background: #000 !important;
	transition: 0.6s;
}
.contact .btn .fa{
	margin-right: 10px;
}
.footer{
	background: #000;
	height: 50px;
	margin-top: 50px;
	color: #fff;
	padding-top: 10px;
}
.fa-heart-o{
	color: red;
}

				/* -------cola------ */
.accordion{
	max-width: 2000px;
	display: flex;
}

.accordion .contentBx{
	position: relative;
	margin: 10px 20px;
}

.accordion .contentBx .label{
	position: relative;
	padding: 10px;
	background: #2694af;
	color: #fff;
	cursor: pointer;
}

.accordion .contentBx .label::before{
	content: "+";
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.5em;
}

.accordion .contentBx.active .label::before{
	content: '-';
}

.accordion .contentBx .content{
	position: relative;
	background: #fff;
	height: 0;
	overflow: hidden;
	transition: 0.5s;
	overflow-y: auto;
	width: 280px;
}

.accordion .contentBx.active .content{
	height: 200px;
	padding: 10px;
}








